.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 #ffffff;
  border-radius: 50%;
  height: 380px;
  width: 380px;
}

.profile-picture img {
  height: 92%;
  width: 92%;
  border-radius: 50%;
}

.profile-picture img:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
  cursor: pointer;
}
